<footer class="footer">
	<div class="footer__wrapp">
		<span class="text text_font_lato text_size_middle"><strong>@G&A B2B Telemarketing 2019.</strong> Все права защищены.</span>
		<p class="text text_font_lato text_size_middle">129090, г. Москва, ул. Каланчевская, 16</p>
	</div>
</footer>

<div class="modal modal-thx">
	<div class="modal__overlay"></div>
	<div class="modal__background modal__background_flex">
		<img src="img/success.png" alt="Спасибо">
		<p class="text text_font_lato text_size_normal">Сообщение отправлено</p>
	</div>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/scripts.min.js"></script>