<header class="header">
	<div class="header__navbar">
		<div class="header__wrapp">
			<div class="header__logo">
				<a href="/">
					<img src="img/logo.svg" alt="Логотип">
				</a>
			</div>
			<p class="text text_font_lato text_size_medium">Ответим на все Ваши вопросы <a class="link" href="tel:+74951396825">+7 (495) 139 68 25</a></p>
		</div>
	</div>
	<div class="header__banner">
		<div class="header__wrapp_no-flex">
			<div class="header__title">
				<p class="header__banner-title text text_size_mega-big text_font_source">Get&Aim</p>
				<p class="header__banner-description text text_font_lato text_size_large"><strong>Уникальная технология</strong> привлечения лидов директоров и собственников бизнеса</p>
			</div>
			<h1 class="header__h1 text text_font_source text_size_super-large">Больше клиентов – впереди конкурентов</h1>
		</div>
		<div class="header__description">
			<div class="header__wrapp">
				<p class="header__description-text text text_font_lato text_size_medium">Вы хотите получать <strong>больше лидов</strong> генеральных директоров и собственников бизнеса?</p>
				<button class="header__description-button button button_big">Связаться с нами сегодня</button>
			</div>
		</div>
	</div>
</header>