<div class="triangle-block">
	<div class="triangle-block__wrapp">
		<h2 class="triangle-block__title title title_h2">Технология Get & Aim</h2>
		<div class="triangle-block__background">
			<img src="img/big-triangle.png" alt="Треугольник">
			<div class="triangle-block__content">
				<div class="triangle-block__number">
					<span class="triangle-block__num">1</span>
					<p class="triangle-block__header text text_font_lato">Этап</p>
					<div class="triangle-block__title">
						<p class="triangle-block__sbor text text_font_lato text_size_large">Сбор и обработка данных</p>
						<p class="triangle-block__text text text_font_lato text_size_normal">На данном этапе мы осуществляем сбор данных из открытых источников. Проводим грубую первичную обработку данных путем выявления релевантной клиентской базы, соответствующей критериям заказчика.</p>
					</div>
				</div>
				<div class="triangle-block__number">
					<span class="triangle-block__num">2</span>
					<p class="triangle-block__header text text_font_lato">Этап</p>
					<div class="triangle-block__title">
						<p class="triangle-block__sbor text text_font_lato text_size_large">Анализ данных</p>
						<p class="triangle-block__text text text_font_lato text_size_normal">На втором этапе мы проводим вторичную обработку данных, используя методы математической статистики и дифференциального анализа.</p>
					</div>
				</div>
				<div class="triangle-block__number">
					<span class="triangle-block__num">3</span>
					<p class="triangle-block__header text text_font_lato">Этап</p>
					<div class="triangle-block__title">
						<p class="triangle-block__sbor text text_font_lato text_size_large">Телемаркетинг</p>
						<p class="triangle-block__text text text_font_lato text_size_normal">На третьем этапе проводится рекламная кампания и работа с первыми лицами, реализуется всесторонний контроль качества.</p>
					</div>
				</div>
				<p class="bottom-mobile-none text text_font_lato text_size_large text-block">100% Лицо, принимающее решение</p>
			</div>
		</div>
	</div>
	<div class="triangle-block__bottom">
		<div class="triangle-block__bottom-background">
			<div class="triangle-block__small-triangle">
				<img src="img/small-triangle.png" alt="Треугольник">
			</div>
			<button class="button button_small scroll">Узнать больше</button>
		</div>
	</div>
</div>