.button {
	background: #fff;
	color: #000;
	outline: none;
	border: none;
	font-size: 18px;
	font-weight: 700;
	cursor: pointer;
	font-family: 'Lato', sans-serif;
	border-radius: 27px;
	&_big {
		max-width: 314px;
		width: 100%;
		height: 54px;
	}
	&_small {
		max-width: 210px;
		width: 100%;
		height: 54px;
	}
	&_send {
		height: 54px;
		max-width: 194px;
		width: 100%;
		color: #fff;
		background: #1b71fe;
		box-shadow: 2px 4px 9px 1px rgba(0, 0, 0, 0.14);
	}
}