@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Source+Sans+Pro&display=swap');
@import "variables";
@import "header";
@import "footer";
@import "text";
@import "link";
@import "button";
@import "title";
@import "form";
@import "triangle";

* {
	padding: 0;
	margin: 0;
}

img {
	user-select: none;
}

html {
	font-size: 16px;
}

strong {
	font-weight: 700;
}

.number-block {
	position: relative;
	padding: 117px 0 113px 0;
	box-sizing: border-box;
	@media screen and (max-width: 674px) {
		padding: 50px 0;
	}
	&__wrapp {
		max-width: 897px;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 0 auto;
		@media screen and (max-width: 1269px) {
			box-sizing: border-box;
			padding-left: 20px;
			padding-right: 20px;
		}
		@media screen and (max-width: 674px) {
			flex-direction: column;
			align-items: center;

		}
	}	
	&__item {
		display: flex;
		flex-direction: row;
		align-items: center;
		@media screen and (max-width: 674px) {
			margin: 10px 0;
		}
	}
	&__num {
		color: #0463ff;
		margin-right: 15px;
		font-weight: 700;
		white-space: nowrap;
	}
	&__text {
		max-width: 183px;
		width: 100%;
	}
}

.problem {
	position: relative;
	background: url('../img/problems.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding: 102px 0 92px 0;
	box-sizing: border-box;
	color: #fff;
	@media screen and (max-width: 799px) {
		padding: 50px 0;
	}
	&__js {
		display: none;
		margin: 0 auto;
		color: #0463ff;
		font-size: 24px;
		font-weight: 700;
		line-height: 19.3px;
		text-transform: uppercase;
		@media screen and (max-width: 590px) {
			display: block;
		}
	}
	&__wrapp {
		max-width: 1006px;
		width: 100%;
		margin: 0 auto;
		@media screen and (max-width: 1269px) {
			box-sizing: border-box;
			padding-left: 20px;
			padding-right: 20px;
		}
	}
	&__title {
		max-width: 680px;
		width: 100%;
	}
	&__icons {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-row-gap: 97px;
		grid-column-gap: 67px;
		margin-top: 109px;
		@media screen and (max-width: 942px) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media screen and (max-width: 590px) {
			grid-template-columns: repeat(1, 1fr);
		}
	}
	&__icon-block {
		display: flex;
		flex-direction: row;
		align-items: center;

	}
	&__icon {
		margin-right: 17px;
	}
	&__icon-text {
		font-weight: 700;
	}
	&__text {
		margin-top: 39px;
		opacity: .9;
	}
}

.technologie {
	padding: 159px 0 81px 0;
	box-sizing: border-box;
	background: url('../img/technologie.jpg');
	background-repeat: no-repeat;
	background-position: bottom -10px center;
	@media screen and (max-width: 799px) {
		padding: 40px 0;
		background-position: bottom -60px center;
	}
	&__wrapp {
		max-width: 801px;
		width: 100%;
		margin: 0 auto;
		display: flex;
		align-items: center;
		flex-direction: column;
		overflow: hidden;
		@media screen and (max-width: 1269px) {
			box-sizing: border-box;
			padding-left: 20px;
			padding-right: 20px;
		}
	}
	&__image {
		animation: rotate 15s infinite linear;
		@media screen and (max-width: 799px) {
			width: 318px;
			height: 318px;
		}
	}
	&__circle {
		position: relative;
		margin-top: 78px;
		overflow: hidden;
	}
	&__button {
		margin-top: 77px;
	}
	&__title {
		align-self: flex-start;
		@media screen and (max-width: 942px) {
			align-self: center;
		}
	}
	&__text {
		max-width: 190px;
		width: 100%;
		text-align: center;
		margin-top: 15px;
	}
	&__circle-icon {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		flex-direction: column;
		align-items: center;
		@media screen and (max-width: 799px) {
			img {
				width: 54px;
				height: 54px;
			}
			.text {
				font-size: 10px;
				max-width: 104px;
				margin-top: 6px;
			}
		}
	}
}

.experience {
	background: url('../img/experience.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	padding: 161px 0 158px 0;
	box-sizing: border-box;
	color: #fff;
	@media screen and (max-width: 942px) {
		padding: 50px 0;
	}
	&__wrapp {
		max-width: 899px;
		margin: 0 auto;
		@media screen and (max-width:1269px) {
			box-sizing: border-box;
			padding-left: 20px;
			padding-right: 20px;
		}
	}
	&__icons {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-column-gap: 137px;
		grid-row-gap: 81px;
		margin-top: 91px;
		@media screen and (max-width: 942px) {
			grid-template-columns: repeat(2, 1fr);
			grid-row-gap: 81px;
			grid-column-gap: 59px;
		}
	}
	&__icon {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__top-text {
		opacity: .9;
		margin-top: 29px;
		@media screen and (max-width: 942px) {
			text-align: center;
		}
	}
	&__bottom-text {
		opacity: .9;
		margin-top: 84px;
		max-width: 646px;
		width: 100%;
		@media screen and (max-width: 942px) {
			text-align: center;
			max-width: 100%;
		}
	}
	&__icon-text {
		text-align: center;
		margin-top: 19px;
		font-weight: 700;
	}
}

.client {
	background: url('../img/clients.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	text-align: center;
	padding: 118px 0 81px 0;
	box-sizing: border-box;
	@media screen and (max-width: 942px) {
		padding: 70px 0;
	}
	&__wrapp {
		max-width: 704px;
		width: 100%;
		margin:  auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		@media screen and (max-width: 1269px) {
			box-sizing: border-box;
			padding-left: 20px;
			padding-right: 20px;
		}
	}
	&__text {
		margin-top: 33px;
	}
	&__button {
		margin-top: 90px;
	}
	&__title {
		text-transform: uppercase;
	}
}

.problems-second {
	padding: 40px 0 99px 0;
	box-sizing: border-box;
	@media screen and (max-width: 799px) {
		padding: 40px 0;
	}
	&__wrapp {
		max-width: 977px;
		width: 100%;
		margin: 0 auto;
		@media screen and (max-width: 1269px) {
			box-sizing: border-box;
			padding-left: 20px;
			padding-right: 20px;
		}
	}
	&__title {
		margin-top: 29px;
		max-width: 680px;
	}
	&__icons {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 89px;
		grid-row-gap: 84px;
		margin-top: 98px;
		@media screen and (max-width: 942px) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media screen and (max-width: 590px) {
			grid-template-columns: repeat(1, 1fr);
		}
	}
	&__icon {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	&__image {
		margin-right: 19px;
	}
	&__bottom-text {
		max-width: 797px;
		width: 100%;
		font-weight: bold;
		margin-top: 149px;
		@media screen and (max-width: 942px) {
			max-width: 100%;
			text-align: center;
		}
	}
	&__photo {
		position: relative;
		display: block;
		margin: 0 auto;
		@media screen and (max-width: 438px) {
			width: 100%;
			height: auto;
		}
	}
}

.form-block {
	background: url('../img/form-background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	padding: 90px 0 50px 0;
	@media screen and (max-width: 799px) {
		background: #fff;
		padding-bottom: 0;
	}
	&__wrapp {
		max-width: 785px;
		margin: 0 auto;
	}
	&__form-bg {
		background: #fff;
		border-radius: 8px;
		box-shadow: 5px 9px 23px 1px rgba(0, 0, 0, 0.24);
		padding: 69px 69px 43px 69px;
		@media screen and (max-width: 642px) {
			padding: 20px;
		}
		@media screen and (max-width: 799px) {
			border-radius: 0;
			box-shadow: none;
		}
	}
	&__title {
		color: #1b71fe;
		text-align: center;
	}
	&__contacts {
		display: flex;
		justify-content: space-between;
		margin-top: 48px;
		@media screen and (max-width: 799px) {
			flex-direction: column;
			align-items: center;
		}
	}
	&__contact {
		display: flex;
		flex-direction: row;
		align-items: center;
		@media screen and (max-width: 799px) {
			margin: 15px 0;
		}
		img {
			margin-right: 9px;
		}
	}
	&__line {
		width: 100%;
		height: 2px;
		border-radius: 1px;
		background-color: #1b71fe;
		margin: 36px 0 58px 0;

	}
	&__map {
		max-width: 100%;
		height: 317px;
		overflow: hidden;
		border-radius: 8px;
		box-shadow: 5px 9px 23px 1px rgba(0, 0, 0, 0.24);
		@media screen and (max-width: 799px) {
			margin-top: 0;
			border-radius: 0;
			box-shadow: none;
		}
		iframe {
			width: 100%;
			height: 100%;
			margin-top: 38px;
			border: none;
		}
	}
}

@import "animation";