.text {
	text-decoration: none;
	color: inherit;
	&_font {
		&_lato {
			font-family: $lato;
		}
		&_source {
			font-family: $source;
		}
	}
	&_size {
		&_normal {
			font-size: 1rem;
		}
		&_medium {
			font-size: 1.125rem;
			@media screen and (max-width: 620px) {
				font-size: 1rem;
			}
		}
		&_large {
			font-size: 1.5rem;
			@media screen and (max-width: 620px) {
				font-size: 1rem;
			}
		}
		&_extra-large {
			font-size: 2.25rem;
		}
		&_super-large {
			font-size: 2.375rem;
		}
		&_mega-large {
			font-size: 3.375rem;
		}
		&_big {
			font-size: 3.75rem;
		}
		&_mega-big {
			font-size: 9.75rem;
			font-weight: 700;
			
		}
	}
}